.gallery {
	display: flex;
	width: 1440px;
	height: 696px;
	padding: 24px 156px;
	justify-content: center;
	align-items: flex-start;
	gap: 24px;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 24px;
}

.gallery-image {
	width: 360px;
	height: 200px;
}